label{
    color: brown;
    font-size: 20px;
}
h3{
    color: rgb(211, 145, 24);
font-size: 40px;
}
a{
    color: rgb(52, 110, 71);
}
.boton-azul{
color:blue;

}
option{
    font-size: 20px;
}
select{
    width: 56px;
}
body{
    background-color: antiquewhite;
}
img{
   width: 300px;
   height: 300px;
   padding-top: 100px;
}
b{
    font-size: 35px;
    background-color: beige;
    color: #7a3232;
}
